{% extends 'admin/change_list.html' %}
{% block content_title %}
    <h1> Статистика по маршрутам </h1>
{% endblock %}
{% block result_list %}
  {% load humanize %}
    <div class="results">
    <table>
        
    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Маршрут</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Куплено квитків</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Оплачено</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Оплата в автобусі</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Загальна сумма</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in summary %}
      <tr class="{% cycle "row1" "row2" %}">
        <td> {{ row.name }} </td>
        <td> {{ row.total | intcomma }} </td>

        {% if row.total_paid == None %}
          <td>0</td>
        {% else %}
          <td> {{ row.total_paid | intcomma }} </td>
        {% endif %}

        {% if row.total_unpaid == None %}
          <td>0</td>
        {% else %}
          <td> {{ row.total_unpaid | intcomma }} </td>
        {% endif %}

       <td> {{ row.total_sales | default:0 | intcomma }} грн </td>
      </tr>
      {% endfor %}
    </tbody>
    
  </table>
</div>

{% endblock %}
{% block pagination %}{% endblock %}